

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
	margin:0;
	padding:0;
}

html::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 2200px;
	z-index: 1;
	opacity: 0.14;
	background-image: url(https://wallpaperplay.com/walls/full/f/9/5/253662.jpg#.XatPU-ctenk.link);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

body{
	margin-left: 15%;
	font-family: 'Open Sans', sans-serif;
	padding: 1em;
}

header::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 150px;
    height: 113px;
    margin: -55px 12px 0 -660px;
    background: url(file:///C:/Users/Leann/Downloads/zenGardenlogo.svg);
	background-repeat: no-repeat;
    background-size: 100%;
	opacity: 0.6;
}

h1, h2, h3{
	font-family: 'Josefin Sans', sans-serif;
	color: hsl(55,35%, 94%);
	padding: 1em;
}

h1{
	text-decoration: underline;
}
h3{
	font-size: larger;
	text-align: center;
	background-color: #747548;
	border-radius: 10px;
	width: 300px;
	margin: inherit;
}

p{
	padding: 1em;
}

.summary p{
	text-align: center;
}

h3:hover{
 top: -10;
}
.sidebar{
	height: 100%;
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #747548;
	overflow: hidden; /* Disable scroll */
	padding-top: 20px;
}

header {
	padding: 5% 0;
	background-color: #747548;
	text-align: center;
	margin:auto;
	width: 45%;
	border-radius: 10px;
	transition: all 0.3s;
}

header:hover{
	top: -10px;
	}
	
#zen-summary{
	text-align: right;
}
a{
	color: #1c1b17;
}

.participation
[role=navigation] ul li a{
color: purple;
}
h3.select{
	text-align: left;
	padding: 10px;
	color: #1c1b17;
}
h3.archives{
	text-align: center;
	color: #1c1b17;
}
.design-archives{
	text-align: center;
}
h3.resources{
	text-align: center;
	color: #1c1b17;
}
.zen-resources{
	text-align: center;
}
.design-selection {
	text-align: center;
	padding-bottom: 15px;
}
.design-selection li {
	list-style-type: none;
	display: inline block;
	padding: 5px;
	text-align: center;
	color: #1c1b17;
}
.design-name{
	color: #e8ebf0;
}
.designer-name{
	color: #1c1b17;
}
.design-name a:active {
	padding: 15px;
	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.select {
	color:black;
padding-top: 25px;
}
p[role="contentinfo"] {
	text-align: center;
	margin: 20px;
}
footer{
	margin: 5px;
	text-align: center;
}
@media only screen and (max-width: 900px){
	.sidebar{
		border-radius: 10px;
		width: 100%;
		position: relative;
		background-color: #747548;
		margin-bottom: 20px;
	}
	body{
		padding: 0 5% 0 5%;
	}
	h3.select{
		text-align: center;
}
h3.archives{
	margin: 1px;
	padding: 2px;
}
.design-archives{
	text-align: center;
}
h3.resources{
	margin-top: 10px;
	padding: 5px;
}
body{
	margin-left: 10%;
}

}